---
title: 'About'
layout: 'page'
pageOrder: 0
subHeadline: A Brain Dump About Me.
---

<article class="about">
	<img class="align-left bordered" src="/assets/img/about-rob-bennet.jpg" alt="{{ document.title }}">
	<p>Hello, I'm Rob. To be perfectly honest, I don't expect a whole mess of viewers for this blog, but I have a constant need to build new things and "brain dump" my thoughts. I originally had a Tumblr blog for that sort of thing, but when they were bought out by Yahoo! and I immediately received an email stating "domain stuff is changing so now you have to take action", I was annoyed and decided it was time for a change.  I wasn't really using it very often anyway, so I thought maybe this would be the kick in the rear to get myself up and running on another platform and to play around with my new obsession, <a href="http://nodejs.org">NodeJS</a>.</p>

	<p>I really like geeky things. I love to code, watch super hero movie trailers and read comic books. I'm also a really lucky guy and couldn't see my life being much more incredible than it already is, which is pretty huge to say.I have an amazing wife and son, I run my own design and development company, I'm healthy and I have great friends. Ok, I'm gloating, I digress, the point is, I'm a pretty happy chap.</p>

	<hr>

	<h3>What do I do?</h3>
	<p>That's always a fun question. What people usually mean is, "what is your job"? In that case, I co-own a design and development shop called <a href="http://madebyhoundstooth.com" title="Houndstooth">Houndstooth</a> with a <a href="http://dribbble.com/danimal" title="Daniel Wiseman">great friend</a> and we design and build websites, applications and most recently, <a href="http://pixelpressgame.com" title="Pixel Press">video games</a>! We specialize in Illustration, Web Performance and User Experience and our lofty goal is to <em>make the web better</em>.</p>

	<hr>

	<h3>My Background</h3>
	<img src="http://a2.ec-images.myspacecdn.com/images01/5/f785cc16995a8b8593105ea8d813ff35/l.jpg" width="100%" alt="Verona">
	<p>For the longest time I was destined to be a rock star, in my head at least. I spent the better part of my teens and twenties in bands, the most recent being a band called <a href="http://www.myspace.com/veronaband" title="Verona">Verona</a> out of Knoxville, TN. At the same time I was conflicted because I wanted to also work in the tech industry. I have been tinkering with HTML/CSS since the mid-ninties and hacking away on Unix systems before that. I was never really any good at it, but I really loved it. Once I hit my early-mid twenties I wanted to jump into the corporate world, wear a suit and carry a briefcase. I have no idea why, I think I just really enjoyed the 40s, 50s and 60s concept of the business man, daper and professional. But at the same time I have a heart of punk rock that completely contradicts this paradigm. Sound confusing?  Yeah it was to me too. But to keep things simple and so I don't write a book, how about some bullet points?</p>

	<hr>
	
	<h3>My Obsessions</h3>	
	<img class="align-left" src="{{ paths.img }}/ff48.jpg" alt="Fantastic Four #48">
	<p>I love comic books and super heroes and basically anything considered "geeky" by the general public. I don't get to the comic book store as much as I'd like, but I try to hit it at least once a week. When I don't have time to grab some new books I love to catch up the tales of Thor, The Avengers, Fables and many other great books on my iPad, though I'd much rather have the phyiscal books in hand. Nothing like the smell of a comic book store!</p>

	<p>My other great love is science, most specifically physics and mathematics. I enjoy taking classes online and watching lectures, new and old, from some of the greatest minds in existence. Sometimes these people blow me away, just when I think I've had a breakthrough in code, I open my feed reader and come across something truly amazing. Most recently I've been really interested in Quantum Computing. Here are some great recent articles to check out if you're interested!</p>

	<ul>
		<li><a href="http://home.web.cern.ch/about/updates/2013/05/grid-computing-founder-science-needs-travel-faster">Science Needs to Travel Faster</a></li>
		<li><a href="http://gigaom.com/2013/05/24/australian-researchers-get-closer-to-scalable-quantum-computing/">Australian researchers get closer to scalable quantum computing</a></li>
		<li><a href="http://www.sciencedaily.com/releases/2013/05/130523143639.htm">A Quantum Simulator for Magnetic Materials</a></li>
	</ul>

	<hr>
</article>
