---
title: 'About'
layout: 'page'
pageOrder: 0
subHeadline: A Brain Dump About Me.
---

<article class="about">
	<img class="align-left bordered" src="/assets/img/about-rob-bennet.jpg" alt="{{ document.title }}">
	<p>Hello, I'm Rob. To be perfectly honest, I don't expect a whole mess of viewers for this blog, but I have a constant need to build new things and "brain dump" my thoughts. I originally had a Tumblr blog for that sort of thing, but when they were bought out by Yahoo! and I immediately received an email stating "domain stuff is changing so now you have to take action", I was annoyed and decided it was time for a change.  I wasn't really using it very often anyway, so I thought maybe this would be the kick in the rear to get myself up and running on another platform.</p>

	<p>I really like geeky things. I love to code, watch super hero movie trailers and read comic books. I'm also a really lucky guy and couldn't see my life being much more incredible than it already is, which is huge to say. I have an amazing wife and son, I run my own design and development company, I'm healthy and I have great friends. Ok, I'm gloating.</p>

	<h3>What do I do?</h3>
	<p>That's always a fun question. What people usually mean is, "what is your job"? In that case, I co-own a design and development shop called <a href="http://madebyhoundstooth.com" title="Houndstooth">Houndstooth</a>. I basically run a business with my <a href="http://dribbble.com/danimal" title="Daniel Wiseman">best friend</a> and we design and build websites, applications and most recently, <a href="http://pixelpressgame.com" title="Pixel Press">video games</a>. Imagine that, sitting in a loft/warehouse space designing video game levels with your best friend, I mean, right on!</p>

	<h3>My Background</h3>
	<p>For the longest time I was destined to be a rock star, in my head at least. I spent the better part of my teens and twenties in bands, the most recent being a band called <a href="http://reverbnation.com/verona" title="Verona">Verona</a> out of Knoxville, TN. At the same time I was conflicted because I wanted to also work in the tech industry. I have been tinkering with HTML/CSS since the mid-ninties and hacking away on Unix systems before that. I was never really any good at it, but I really loved it. Once I hit my early-mid twenties I wanted to jump into the corporate world, wear a suit and carry a briefcase. I have no idea why, I think I just really enjoyed the 40s, 50s and 60s concept of the business man, daper and professional. But at the same time I have a heart of punk rock that completely contradicts this paradigm. Sound confusing?  Yeah it was to me too. But to keep things simple and so I don't write a book, how about some bullet points?</p>

	<h4>My Jobs</h4>
	<ul>
		<li>Whirlpool Corporate | Customer Support</li>
		<li>Macy's Corporate Marketing | Database Analytics</li>
		<li>South Central Communications | Promotions Director</li>
		<li>Juggle.com | HCI Strategist</li>
		<li>InteliSpend Prepaid Solutions | Technologist</li>
		<li>Houndstooth | Co-Owner</li>
	</ul>

	<h4>I thoroughly enjoy</h4>
	<ul>
		<li>Coffee</li>
		<li>Comic Books</li>
		<li>Code</li>
		<li>Technology</li>
		<li>Science and Mathematics</li>
		<li>Music</li>
	</ul>

	<h4>I thoroughly dislike</h4>
	<ul>
		<li>Politics</li>
		<li>Taking things too seriously</li>
		<li>Negativity</li>
		<li>Close-mindedness</li>
		<li>Party People</li>
		<li>Laziness</li>
	</ul>
</article>
