.page {

	header {
		margin-bottom: $halfSpacing+em;
		border-bottom: 1px solid $grayLight;
	}

	.site-specs {
		.row {
			margin-bottom: $baseSpacing+em;
		}

		img {
			border: 1px solid $grayLight;
		}
	}
}